@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
    vertical-align: baseline;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: auto;
}
li {
    list-style: none;
}


/********************************* 헤더부분 *************************************/
header {
    width: 1920px;
    z-index: 1000;
    top:0;
}

header .container{
    display: flex;
    justify-content: space-between; /* 양 끝으로 배치 */
    align-items: center;
    width: 100%;
    border: 1px solid #DBDBDB;
    height: 80px;
}

header ul {
    width: 648px;
    position: relative;
    margin-right: 126px;
    height: 80px;
}

header ul li {
    display: inline-block;
}

.nav {
    display: inline-flex;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    padding: 0 20px;
    top: -6px;
}
.nav-item {
    color: black;
    text-decoration: none;
    transition: 0.3s;
    z-index: 1;
    font-size: 20px;
    font-weight: bolder;
    position: relative;
    margin-right: 68px;
    margin-bottom: 10px;
}

.nav-item:before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: -10%;
    width: 100%;
    height: 5px;
    background-color: blue;
    border-radius: 5px 5px 5px 5px;
    opacity: 0;
    transition: 0.5s;
    margin-bottom: -10px;
}

.nav-item:not(.is-active):hover:before {
    opacity: 1;
    bottom: 0;
    left: 1%;
}

.nav-item:not(.is-active):hover {
    color: blue;
}

.nav-indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    transition: 0.4s;
    z-index: 1;
    border-radius: 5px;
}

header button {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 32px;
    margin-top: 25px;
}

/************************************* 로고 ****************************************/
header h1 a { 
    margin-left: 360px;
}
header h1 a img {
    width: 133px;
    height: 30px;
}


/********************* business-header ***********************/
#business-header {
    background: url(../img/business.png) no-repeat center;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#business-header h1 {
    color: white;
}

/************************** Hidden **************************/
.overlay {
    height: 210px;
    width: 100%;
    z-index: 1;
    top: 80px;
    left: 0;
    background-color: rgba(47, 88, 163, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
    position: absolute;
    display: none;
}

.overlay-content {
    float: left;
    top: 10%;
    text-align: left;
    margin-right: 50px;
    margin-top: 15px;
    line-height: 0.7;
}
.overlay-content:first-child {
    margin-left: 1157px;
}
.overlay-content:nth-child(2) {
    margin-left: -18px;
}
.overlay-content:last-child {
    margin-left: 15px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #ffff;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: black;
}

/****************에코스*****************/
#ecoce {
    width: 1920px;
    height: 983px;
}
.ecose_7 {
    margin-top: 100px;
    margin-left: 240px;
}
.title_1{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 40px/58px var(--unnamed-font-family-noto-sans-kr);
    letter-spacing: var(--unnamed-character-spacing-0);
    font: normal normal bold 40px/58px Noto Sans KR;
    letter-spacing: 0px;
    color: #1E1E1E;
}
.title_2{
    font: var(--unnamed-font-style-normal) normal medium 18px/26px var(--unnamed-font-family-noto-sans-kr);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal medium 18px/26px Noto Sans KR;
    letter-spacing: 0px;
    color: #C8C8C8;
}
.logo_2{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 22px/32px var(--unnamed-font-family-noto-sans-kr);
    letter-spacing: var(--unnamed-character-spacing-0);
    font: normal normal bold 22px/32px Noto Sans KR;
    letter-spacing: 0px;
    color: #1E1E1E;
    opacity: 1;
}

.ex_text{
    text-align:right;
    margin-bottom:10%;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-30)/var(--unnamed-line-spacing-44) var(--unnamed-font-family-noto-sans-kr);
    letter-spacing: var(--unnamed-character-spacing-0);
    font: normal normal bold 30px/44px Noto Sans KR;
    color: #1E1E1E;
    opacity: 1;
    margin:0%;
    margin-bottom:140px;
    word-break:normal;
}

#ecoce {
    position:relative;
}
.ecoce-imga{
    background-image:url("../img/ecosback.png");
    float:left;
    max-width: 679px;
    max-height: 592px;
    margin:0%;
    position: absolute;
}
.ecoce-imga img{
    padding-left:229px;
    padding-top:95px;
    margin:0%;
}
.ecoce-right {
    text-align:right;
    margin:0%;
    margin-right: 284px;
    position:relative;
}

.ecoce-app{
    list-style:none;
    float:right;
}

.ecoce-app li{
    float: left;
    background: #1E1E1E 0% 0% no-repeat padding-box;
    border-radius: 69px;
    opacity: 1;
    margin-top:140px;
    margin-left:30px;
}
.ecoce-app img{
    float:left;
    margin-top:11px;
    margin-left:20px;
    margin-right:15px;
    margin-bottom:11px;
}
.ecoce-app p{
    text-decoration:none;
    color:#fff;
    margin-top:10px;
    margin-bottom:9px;
    margin-left:12px;
    text-align:left;
}

/*****************모아두***************/
#moado { 
    top: 1463px;
    left: 0px;
    width: 1920px;
    height: 820px;
    opacity: 1;
  
}

.bkg-left{
    width: 1920px;
    height: 820px;
    background: linear-gradient(30deg, #339BE133 10%, #E4CDE800 20%);
}
.bkg-right{
    width: 1920px;
    height: 820px;
    background: linear-gradient(161deg, #E4CDE800 40%, #E4CDE8 100%);
}

.moado_title {
    position: absolute;
    top: 1463px;
    margin-left: 240px;
}

.moado_title h1 {
    font-size: 40px;
}
.moado_title p {
    font-size: 18px;
    color: #C8C8C8;
    text-align: center;
}

.wrapper {
    width: 1920px;
    height: 686px;
    opacity: 1;
    position: absolute;
    margin-top: 132px;  
}

.moado_left{
    float: left;
    margin-left:11%;
    max-width : 30%;
    display:block;
}
.moado_left img{
    left: 240px;
    height: 471px;
    width: 850px;
    position: absolute;
}

.moado_right {
    display: inline-block;
    width: 452px;
}

.moado_right p {
    top: 0px;
    left: 1300px;
    width: 400px;
    height: 44px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-30)/var(--unnamed-line-spacing-44) var(--unnamed-font-family-noto-sans-kr);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: right;
    font: normal normal bold 30px/44px Noto Sans KR;
    letter-spacing: 0px;
    color: #1E1E1E;
    opacity: 1;
    position: absolute;
}

.moado_right button {
    top: 429px;
    left: 1527px;
    width: 153px;
    height: 57px;
    background: #1E1E1E 0% 0% no-repeat padding-box;
    border-radius: 69px;
    opacity: 1;
    text-align: center;
    font: normal normal medium 14px/22px Noto Sans KR;
    letter-spacing: 0px;
    color: #FFFFFF;
    position: absolute;
}
.moado_right img {
    top: 184px;
    left: 1228px;
    width: 452px;
    height: 105px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute
}
.moado_middle{
    top: 204px;
    left: 700px;
    width: 680px;
    height: 482px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}

/********************************** Etc *********************************/
#remainder {
    width: 1920px;
    height: 784px;
}

.remainder-text {
    margin-bottom: 50px;
}
.remainder-text p {
    position: relative;
    font-size: 40px;
    padding-top: 100px;
    margin-left: 240px;
    font-weight: bolder;
}
.remainder-text span {
    margin-left: 240px;
    font-size: 18px;
    color: #9E9E9E;
}
/********************** Etc 이미지 박스 ***********************/
.remainder-container {
    width: 1440px;
    height: 400px;
}
.remainder-ul {
    display: flex;
    margin-left: 240px;
}
.remainder-li {
    position: inline-block;
    margin-right: 75px;
}
/********************** Etc 이미지 **************************/
.remainder-img {
    width: 228px;
    height: 350px;
    border: 2px solid #E9E9E9;
    box-shadow: 2px 2px 10px #E9E9E9;
}

/***************** footer ********************/
.footer-wrap {
    position: relative;
    left: 0;
    width: 1920px;
    height: 250px;
    background: #E9E9E9 0% 0% no-repeat padding-box;
    opacity: 1;
}
.footer-wrap img {
    width:200px;
    height:45px;
    margin-top:50px;
    margin-left:240px;
}
.footer-wrap .address {
    letter-spacing: 0px;
    line-height: 26px;
    color: #9E9E9E;
    opacity: 1;
    text-align: left; 
}
.footer-wrap .address .footer-add {
    position: relative;
    height: 24px;
    left: 460px;
    bottom:20px;
    font-size: 24px;
}
.footer-wrap .address .footer-inform {
    position: relative;
    margin-left: 240px;
    padding-bottom: 49px;
    height:76px;
}
.footer-wrap .address .footer-inform-add {
    position:relative;
    left: 1000px;
    bottom: 50px;
    height: 50px;
    margin-top: -25px;
}