@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR&display=swap');

/******************************** codrops slider component*******************************/
@font-face {
	font-family: 'entypo';
	src:url('../fonts/controls/entypo.eot');
	src:url('../fonts/controls/entypo.eot?#iefix') format('embedded-opentype'),
		url('../fonts/controls/entypo.woff') format('woff'),
		url('../fonts/controls/entypo.ttf') format('truetype'),
		url('../fonts/controls/entypo.svg#entypo') format('svg');
	font-weight: bold;
	font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
    vertical-align: baseline;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: auto;
}
li {
    list-style: none;
}


/****************************** TOP button ********************************/
.topBtn{
    position: fixed;
    z-index: 999;
    bottom: 7%;
    right: 3%;
    align-items: center;
    display: none;
}
.topBtn .topBtn-a{
    cursor: pointer;
}
.topBtn i{
    font-size: 50px;
    color: #184B9F;
}

/********************************* 헤더부분 *************************************/
header {
    width: 100%;
    z-index: 1;
    top:0;
}
/* position fixed를 제거 */

header .container{
    display: flex;
    justify-content: space-between; /* 양 끝으로 배치 */
    align-items: center;
    width: 100%;
    border: 1px solid #ffff;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

header nav ul{
    display: flex; /* 메뉴 가로 배치 */
}

header nav ul li{
    padding: 2rem;
}

header button {
    background: transparent;
    border: 0;
    cursor: pointer;
    color: white;
}

/************************************* 로고 ****************************************/
header h1 a { 
    font-weight: bold;
    color: white;
    margin-left: 360px;
}
header h1 a img {
    width: 133px;
    height: 30px;
}

/*************************** 메뉴 ********************************/
header nav ul li button {
    font-size: 20px;
}
header nav ul li.btn button {
    margin-right: 220px;
    margin-left: 30px;
    font-size: 32px;
}
.hd-1 {
    position: absolute;
    top: 400px;
    left: 240px;
    color: #ffff;
    letter-spacing: 0;
    text-align: left;
}

.hd-1 p.main-text {
    font-size: 40px;
    font-weight: bold;
    line-height: 140%;
    margin-bottom: 50px;
}

.hd-1 p.sub-text {
    word-break: normal;
    font-size: 18px;
    width: 60%;
}

/************************* nav-bar ****************************/
.nav {
    margin-right: -9px;   
}
#nav-bar li {
    margin-top: 2px;
}
#nav-bar .btn {
    margin-top: -5px;
}
#nav-bar a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

#nav-bar a:hover {
    color: rgb(9, 89, 209);
}

/************************** Hidden ****************************/
.overlay {
    height: 210px;
    width: 100%;
    z-index: 1000;
    top: 80px;
    left: 0;
    background-color: rgba(47, 88, 163, 0.9);
    transition: 0.5s;
    position: fixed;
    display: none;
}

.overlay-content {
    float: left;
    top: 10%;
    text-align: left;
    margin-right: 50px;
    margin-top: 15px;
    line-height: 0.7;
}
.overlay-content:first-child {
    margin-left: 1161px;
}
.overlay-content:nth-child(2) {
    margin-left: -22px;
}
.overlay-content:last-child {
    margin-left: 10px;
}

.overlay .mobile {
    display: none;
}
.overlay .m-line {
    display: none;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #ffff;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: black;
}

/******************************* codrops slider ************************************/

.cbp-bislideshow {
	list-style: none;
	width: 100%;
    position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	padding: 0;
	margin: 0;
}

.cbp-bislideshow li {
	position: absolute;
	width: 100%;
	height: 900px;
	opacity: 0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	transition: opacity 1s;
    filter: brightness(70%);
}

.backgroundsize .cbp-bislideshow li {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
}

/************************** hide the images ***************************/
.backgroundsize .cbp-bislideshow li img {
	display: none;
}

.cbp-bislideshow li img {
	display: block;
	width: 100%;
}

/*************************** slider controls ************************/
.cbp-bicontrols {
	position: static;
	width: 300px;
	height: 100px;
    margin-top: 710px;
    margin-left: 200px;
}

.cbp-bicontrols span {
	float: left;
	width: 100px;
	height: 100px;
	position: relative;
	cursor: pointer;
}

.cbp-bicontrols span:before {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	font-family: 'entypo';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 100px;
	font-size: 40px;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	opacity: 0.7;
}

.cbp-bicontrols span:hover:before {
	opacity: 1;
}

.cbp-bicontrols span:active:before {
	top: 2px;
}

span.cbp-biplay:before {
	content: "\e002";
}

span.cbp-bipause:before {
	content: "\e003";
}

span.cbp-binext:before {
	content: "\e000";
}

span.cbp-biprev:before {
	content: "\e001";
}

.cbp-bicontrols span.cbp-binext {
	float: right;
}

/* Fallback */

.no-js.no-backgroundsize .cbp-bislideshow li:first-child {
	opacity: 1;
}

.no-js.backgroundsize .cbp-bislideshow li:first-child img {
	display: block;
}

/****************** News *******************/
#News {
    width: 100%;
}
.news {
    position: relative;
    width: 1440px;
    height: 450px;
    margin: 100px 240px 100px 240px;
}

.news .title {
    margin-bottom: 50px;
    margin-top: 180px;
}

.news .title :first-child {
    font-size: 40px;
    font-weight: bold;
}

.news .title :last-child {
    font-size: 18px;
    color: #C8C8C8;
}

.news .cont {
    display: flex;
    gap: 80px;
}

.news .cont .line1 {
    position: absolute;
    left: 340px;
    top: 134px;
    width: 2px;
    height: 316px;
    background-color: #C8C8C8;
}

.news .cont .line2 {
    position: absolute;
    left: 720px;
    top: 134px;
    width: 2px;
    height: 316px;
    background-color: #C8C8C8;
}

.news .cont .line3 {
    position: absolute;
    left: 1100px;
    top: 134px;
    width: 2px;
    height: 316px;
    background-color: #C8C8C8;
}

.news .cont .link a {
    text-decoration: none;
    width: 300px;
}

.news .cont .link a .img-wrap {
    width: 300px;
    height: 200px;
    max-width: 300px;
    max-height: 200px;

    overflow: hidden;
    border-radius: 20px;
    border: 1px solid #707070;
}

.news .cont .link a .img-wrap img {
    width: 100%;
    height: 100%;
    transition-duration: 0.5s;
}

.news .cont .link a :nth-child(2) {
    font-size: 18px;
    font-weight: bold;
    color: #1E1E1E;
    letter-spacing: 0.9px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.news .cont .link a:hover :nth-child(1) img {
    transform: scale(1.3);
    transition-duration: 0.5s;
}

.news .cont .link a:hover :nth-child(2) {
    color: #184B9F;
}

.news .cont .link a :nth-child(3) {
    font-size: 16px;
    color: #AAAAAA;
    letter-spacing: 0.8px;
}

/********************* project ***********************/
.pject-wrap {
    background: #F9F8FF;
    width: 100%;
    height: 1147px;
    z-index: 80;
}

.pject-con-wrap {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}


.pject-con-wrap {
    padding-top: 100px;
}

.pject-text {
    text-align: right;
}

.pject-text h2 {
    font-weight: bold;
    font-size: 40px;
    color: #1E1E1E;
}

.pject-text .pject-text-eng {
    color: #C8C8C8;
    padding-bottom: 50px;
    font-weight: Medium;
    font-size: 18px;
}

.pject-text .pject-text-con {
    color: #1E1E1E;
    font-weight: bold;
    font-size: 26px;
}

.motion-pic-1 {
    margin-top: 61px;
}
.motion-pic-2 {
    display: none;
}

.pject-con-right {
    margin-top: 111px;
}

.ecoce-back-img {
    border-radius: 10px;
    width: 534px;
    height: 393px;
    background: transparent url('../img/square674.png') 0% 0% no-repeat padding-box;
    background-position: center;
}

.imghover {
    transition: all 0.2s linear;
}

.pject-moado-wrap:hover .imghover {
    transform: scale(1.2);
}

.pject-ecoce-wrap:hover .imghover {
    transform: scale(1.2);
}

.pject-ecoce-wrap {
    overflow: hidden;
    position: relative;
    width: 534px;
    height: 393px;
    margin-left: 90px;
    border-radius: 10px;
}

.pject-ecoce-wrap figcaption,
.pject-moado-wrap figcaption {
    position: absolute;
    color: #FFFFFF;
    font-size: 17px;
    z-index: 2;
    padding: 260px 0 0 21px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition-duration: 0.3s;
}

.pject-ecoce-wrap figcaption:hover,
.pject-moado-wrap figcaption:hover {
    cursor: pointer;
    opacity: 1;
    transition-duration: 0.3s;
}

.moado-back-img {
    border-radius: 10px;
    width: 450px;
    height: 355px;
    background: transparent url('../img/main-visual.png') 0% 0% no-repeat padding-box;
}

.pject-moado-wrap {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    margin-top: 50px;
    width: 534px;
    height: 393px;
    margin-left: 90px;
    background: url('../img/square\ 38.jpg') no-repeat center;
}

.pject-moado-wrap figcaption {
    padding-top: 285px;
}

/**************** secvice *****************/
.service {
    position: relative;
    max-width: 1440px;
    height: 1148px;
    margin: 0 auto;
    top: 100px;
    bottom: 100px;
    display: flex;
    gap: 80px;
}
.service .title p {
    margin-left: 10px;
}
.service .left .title :nth-child(1) {
    font-size: 40px;
    font-weight: bold;
    color: #1E1E1E;
}

.service .left .title :nth-child(2) {
    font-size: 18px;
    color: #C8C8C8;
    padding-bottom: 50px;
}

.service .left .title :nth-child(3) {
    font-size: 26px;
    font-weight: bold;
    color: #1E1E1E;
    width: 534px;
    padding-bottom: 50px;
    letter-spacing: -1.8;
    line-height: 2;
}

.aniimg {
    width: 680px;
    height: 680px;
    margin-top: -70px;
}
.aniimg_small {
    display: none;
}

.right {
    position: relative;
}

.app {
    width: 300px;
    height: 375px;
    background: transparent url('../img/app.png') 0% 0% no-repeat padding-box;
    background-color: rgba(0, 0, 0, 0.3);;
    background-blend-mode: multiply;
    position: absolute;
    border-radius: 20px;
    display: table;
    table-layout: fixed;
    text-align: center;
}

.web {
    width: 300px;
    height: 375px;
    background: transparent url('../img/web.png') 0% 0% no-repeat padding-box;
    background-color: rgba(0, 0, 0, 0.3);;
    background-blend-mode: multiply;
    position: absolute;
    border-radius: 20px;
    top: 118px;
    left: 380px;
    display: table;
    table-layout: fixed;
    text-align: center;
}

.ai {
    width: 300px;
    height: 375px;
    background: transparent url('../img/ai.png') 0% 0% no-repeat padding-box;
    background-color: rgba(0, 0, 0, 0.3);;
    background-blend-mode: multiply;
    position: absolute;
    top: 455px;
    border-radius: 20px;
    display: table;
    table-layout: fixed;
    text-align: center;
}

.xr {
    width: 300px;
    height: 375px;
    background: transparent url('../img/xr.png') 0% 0% no-repeat padding-box;
    background-color: rgba(0, 0, 0, 0.3);;
    background-blend-mode: multiply;
    position: absolute;
    top: 573px;
    left: 380px;
    border-radius: 20px;
    display: table;
    table-layout: fixed;
    text-align: center;
}

.right .front,
.right .back {
    display: table-cell;
    vertical-align: middle;
}

.right .front :nth-child(1) {
    font-size: 30px;
    color: #FFFFFF;
    letter-spacing: 1.5px;
    /* text-align: center; */
}

.right .front :nth-child(2) {
    font-size: 20px;
    color: #FFFFFF;
    line-height: 29px;
    letter-spacing: 1px;
}

.right .back {
    display: none;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 1.2px;
}

.card{
    transition: 0.3s;
}
.card:hover {
    transform: scale(1.246);
    transition: 0.3s;
}
.right .card:hover .back{
    display: table-cell;
}

.right .card:hover .front{
    display: none;
}

@keyframes fadeInTopLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-5%, -5%, 0);
        transform: translate3d(-5%, -5%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.right .front {
    animation: fadeInTopLeft 0.5s;
}

@keyframes fadeInBottomRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(5%, 5%, 0);
        transform: translate3d(5%, 5%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.right .back {
    animation: fadeInBottomRight 0.5s;
}

/*************** reference ***************/
#Reference {
    width: 100%;
    height: 1034px;
    margin-bottom: -100px;
}

.refer_web {
    left: 240px; 
    width: 1440px;
    height: 734px;
    opacity: 1;
    margin-top: 100px;
}

.refer_web ul {
    margin-left: 14px;
}

.Reference_iconbox{
    border: 1px solid #DBDBDB;
    display: inline-block;
    width: 220px;
    height: 100px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-right: 14px;
    margin-top:17px;
}

.icon-image .icon{
    position: relative;
    text-align: center; 
    display: flex; 
    justify-content:center;
    top: 50%;
    left: 50%;
    bottom:-50px;
    transform: translate(-50%, -50%);
}

/***************** footer ********************/
.footer-wrap {
    position: relative;
    left: 0;
    width: 1920px;
    height: 250px;
    background: #E9E9E9 0% 0% no-repeat padding-box;
    opacity: 1;
}
.footer-wrap img {
    width:200px;
    height:45px;
    margin-top:50px;
    margin-left:240px;
}
.footer-wrap .address {
    letter-spacing: 0px;
    line-height: 26px;
    color: #9E9E9E;
    opacity: 1;
    text-align: left; 
}
.footer-wrap .address .footer-add {
    position: relative;
    height: 24px;
    left: 460px;
    bottom:20px;
    font-size: 24px;
}
.footer-wrap .address .footer-inform {
    position: relative;
    margin-left: 240px;
    padding-bottom: 49px;
    height:76px;
}
.footer-wrap .address .footer-inform-add {
    position:relative;
    left: 1000px;
    bottom: 50px;
    height: 50px;
    margin-top: -25px;
}

/************** media query 1. Header tablet ****************/
@media (min-width: 769px) and (max-width: 1280px) {
    body {
        width: 1280px;
    }
    /******* header *******/
    header {
        height: 100%;
    }
    header h1 a {    
        margin-left: 221px;
    }
    header .nav {
        margin-right: -20px;
    }
    header nav ul li {
        margin-left: 91.5px;
        margin-right: -97px;
        letter-spacing: -1;
    }
    .overlay .mobile {
        display: none;
    }
    .overlay .m-line {
        display: none;
    }
    .overlay-content:first-child {
        margin-left: 629px;
    }
    .overlay-content:nth-child(2) {
        margin-left: -27px;
    }
    .overlay-content:last-child {
        margin-left: 3px;
    }
    .hd-1 {
        margin-left: -113px;
        margin-top: 65px;
        line-height: 1.5;
    }
    .hd-1 p.main-text {
        letter-spacing: 1.1;
    }
    .hd-1 p.sub-text {
        letter-spacing: 0.24;
    }
    .cbp-bicontrols {
        margin-left: 88px;
        margin-top: 730px;
        z-index: 1000;
    }

/************** media query 2. news tablet ****************/
   .news{
    width: 1280px;
    height: 1016px;
    margin: 0;
    margin-bottom: -100px;
    margin-top: 155px;
    }
    .news .title{
    text-align: center;
    margin-top: 100px;
    }
    .news .cont {
        display: grid;
        grid-template-columns: repeat(2, 298px);
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        gap: 50px 40px;
    }
    .news .cont .line1,
    .news .cont .line2,
    .news .cont .line3 {
        display: none;
    }

/************** media query 3. project tablet ****************/
    .pject-wrap {
        width: 100%;
        height: 1911px;
        z-index: 80;
        position: relative;
    }
    .pject-con-wrap {
        margin: 0 auto;
        display: block;
    }
    .pject-con-wrap {
        padding-top: 100px;
    }
    .pject-text {
        text-align: center;
        margin-top: -960px;
    }   
    .pject-text h2 {
        font-weight: bold;
        font-size: 40px;
        color: #1E1E1E;
    }
    .pject-text .pject-eng {
        color: #C8C8C8;
        padding-bottom: 50px;
        font-weight: Medium;
        font-size: 18px;
    }
    .pject-text .pject-con {
        color: #1E1E1E;
        font-weight: bold;
        font-size: 26px;
        line-height: 2;
        letter-spacing: -0.5;
    }
    .motion-pic-1 {
        display: none;
    }
    .motion-pic-2 {
        display: block;
        margin-left: 275px;
    }
    .pject-ecoce-wrap {
        margin-left: 373px;
        top: 750px;
    }
    .pject-moado-wrap {
        margin-left: 373px;
        top: 750px;
    }

/************** media query 4. service tablet ****************/
    .service {
        height: 1853px;
        background-color: #F2F6FC;
        margin-top: -100px;
        padding-top: 100px;
        padding-bottom: 180px;
    }
    .service .left .title :nth-child(1) {
        margin-left: 585px;
    }
    
    .service .left .title :nth-child(2) {
        margin-left: 609px;
    }
    
    .service .left .title :nth-child(3) {
        margin-left: 373px;
    }
    .aniimg {
        display: none;
    }
    .aniimg_small {
        display: block;
        margin-left: 373px;
        margin-top: -50px;
    }
    .right {
        top: 44.2%;
        left: -78.3%;
        margin-left: 320px;
    }
    .web {
        position: absolute;
        left: 340px;
    }
    .xr {
        position: absolute;
        left: 340px;
    }

/************** media query 5. reference tablet ****************/
    #Reference {
       position:relative;
       top:100px;
       left:-100px;
       margin-bottom: -80px;
    }
    .refer_web {
        width:1000px;
        height:1334px;
    }
    .refer_header {
        text-align: center;
    }
    .refer-ul {
        margin-left:150px;
        align-items: center;
        text-align: center;
    }
    .Reference_iconbox {
        width:220px;
        height:100px;
        margin-right:30px;
    }

/************** media query 6. footer tablet ****************/
    #footer {
        position: relative;
        top:600px;
    }
    .footer-wrap {
        width: 1280px;
    }
    #footer .footer-logo {
        margin-left: -157px;
        width: 100%
    }
    .footer-wrap .address .footer-add {
        margin-left: -157px;
        font-size: 18px;
    }
    .footer-wrap .address .footer-inform {
        margin-left: 83px;
        text-rendering: optimizeSpeed;
        letter-spacing: -1px;
    }
    .footer-wrap .address .footer-inform-add {
        margin-left: -291px;
        text-rendering: optimizeSpeed;
        letter-spacing: -1px;
    }
}

/********************************* media query mobile *************************************/
@media (max-width: 768px) {
    body {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
    body::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }
/************** media query 1. Header mobile ****************/
    header h1 a {    
        margin-left: 32px;
    }
    header .nav {
        margin-right: -228px;
    }
    header .nav a {
        display: none;
    }
    header .nav .btn {
        margin-left: -50px;
    }
    .overlay .mobile {
        display: block;
        margin-bottom: 10px;
    }
    .overlay .m-line {
        display: block;
        padding: 0;
        border-bottom: 1px solid #9E9E9E;
        width: 768px;
        margin-left: -255px;
    }
    .overlay-content {
        letter-spacing: 0;
    }
    .overlay-content:first-child {
        margin-left: 255px;
    }
    .overlay-content:nth-child(2) {
        margin-left: 400px;
        margin-top: -190px;
    }
    .overlay-content:last-child {
        margin-left: 540px;
        margin-top: -190px;
    }
    .hd-1 {
        margin-left: -166px;
    }
    .cbp-bicontrols {
        margin-left: 35px;
    }

/************** media query 2. news mobile ****************/
    .news{
        width: 768px;
        height: 1016px;
        margin: 0;
        margin-bottom: -100px;
        margin-top: 200px;
    }
    .news .title{
        text-align: center;
        margin-top: 100px;
    }
    .news .cont {
        display: grid;
        grid-template-columns: repeat(2, 298px);
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        gap: 50px 40px;
    }
    .news .cont .line1,
    .news .cont .line2,
    .news .cont .line3 {
        display: none;
    }

/************** media query 3. project mobile ****************/
    .pject-wrap {
        width: 100%;
        height: 1911px;
        z-index: 80;
        position: relative;
    }
    .pject-con-wrap {
        margin: 0 auto;
        display: block;
    }
    .pject-con-wrap {
        padding-top: 100px;
    }
    .pject-text {
        text-align: center;
        margin-top: -960px;
    }   
    .pject-text h2 {
        font-weight: bold;
        font-size: 40px;
        color: #1E1E1E;
    }
    .pject-text .pject-eng {
        color: #C8C8C8;
        padding-bottom: 50px;
        font-weight: Medium;
        font-size: 18px;
    }
    .pject-text .pject-con {
        color: #1E1E1E;
        font-weight: bold;
        font-size: 26px;
        line-height: 2;
        letter-spacing: -0.5;
    }
    .motion-pic-1 {
        display: none;
    }
    .motion-pic-2 {
        display: block;
        margin-left: 39px;
    }
    .pject-ecoce-wrap {
        margin-left: 117px;
        top: 750px;
    }
    .pject-moado-wrap {
        margin-left: 117px;
        top: 750px;
    }

/************** media query 4. service mobile ****************/
    .service {
        height: 1853px;
        background-color: #F2F6FC;
        margin-top: -100px;
        padding-top: 100px;
    }
    .service .left .title :nth-child(1) {
        margin-left: 324px;
    }
    .service .left .title :nth-child(2) {
        margin-left: 349px;
    }
    .service .left .title :nth-child(3) {
        margin-left: 120px;
        text-rendering: optimizeSpeed;
        letter-spacing: -1.8px;
    }
    .aniimg {
        display: none;
    }
    .aniimg_small {
        display: block;
        margin-left: 117px;
        margin-top: -60px;
    }
    .right {
        top: 44.2%;
        left: -78.3%;
        margin-left: -96px;
    }
    .web {
        position: absolute;
        left: 355px;
    }
    .xr {
        position: absolute;
        left: 355px;
    }

/************** media query 5. reference mobile ****************/
    #Reference {
        position:relative;
        width: 768px;
        height: 1434px;
        top: 100px;
        left: -105px;
    }
    .refer_web {
        width: 704px;
        height: 1334px;
        margin-left: -100px;
    }
    .refer_header {
        text-align: center;
    }
    .Reference_iconbox {
        margin-top: 20px;
        margin-right: 0px;
    }
/************** media query 6. footer mobile ****************/
    #footer {
        height: 331px;
        background-color: #E9E9E9;
        margin-top: 230px;
    }
    #footer .footer-logo {
        margin-left: -157px;
    }
    .footer-wrap .address {
        letter-spacing: -0.8px;
        text-rendering: optimizeSpeed;
        height: 220px;
    }
    .footer-wrap .address .footer-add {
        margin-left: -157px;
        font-size: 18px;
    }
    .footer-wrap .address .footer-inform {
        margin-left: 83px;
        line-height: 1.7;
    }
    .footer-wrap .address .footer-inform-add {
        margin-left: -918px;
        margin-top: 90px;
        line-height: 1.7;
    }
}
