@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR&display=swap');

/******************************** codrops slider component*******************************/
@font-face {
	font-family: 'entypo';
	src:url('../fonts/controls/entypo.eot');
	src:url('../fonts/controls/entypo.eot?#iefix') format('embedded-opentype'),
		url('../fonts/controls/entypo.woff') format('woff'),
		url('../fonts/controls/entypo.ttf') format('truetype'),
		url('../fonts/controls/entypo.svg#entypo') format('svg');
	font-weight: bold;
	font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
    vertical-align: baseline;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: auto;
}
li {
    list-style: none;
}


/********************************* 헤더부분 *************************************/
header {
    width: 100%;
    height: 900px;
    z-index: 1000;
    top:0;
}
/* position fixed를 제거 */

header .container{
    display: flex;
    justify-content: space-between; /* 양 끝으로 배치 */
    align-items: center;
    width: 100%;
    border: 1px solid #ffff;
    height: 80px;
}

header nav ul{
    display: flex; /* 메뉴 가로 배치 */
}

header nav ul li{
    padding: 2rem;
}

header button {
    background: transparent;
    border: 0;
    cursor: pointer;
    color: white;
}

/************************************* 로고 ****************************************/
header h1 a { 
    font-weight: bold;
    color: white;
    margin-left: 360px;
}
header h1 a img {
    width: 133px;
    height: 30px;
}

/*************************** 메뉴 ********************************/
header nav ul li button {
    font-size: 20px;
}
header nav ul li.btn button {
    margin-right: 220px;
    margin-left: 30px;
    font-size: 32px;
}

.hd-1 {
    position: absolute;
    top: 400px;
    left: 240px;
    color: #ffff;
    letter-spacing: 0;
    text-align: left;
}

.hd-1 p.main-text {
    font-size: 40px;
    font-weight: bold;
    line-height: 140%;
    margin-bottom: 50px;
}

.hd-1 p.sub-text {
    word-break: normal;
    font-size: 18px;
    width: 60%;
}

/************************* nav-bar ****************************/
.nav {
    margin-right: -9px;   
}
#nav-bar a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

#nav-bar a:hover {
    color: rgb(9, 89, 209);
}

/************************** Hidden ****************************/
.overlay {
    height: 210px;
    width: 100%;
    z-index: 1;
    top: 80px;
    left: 0;
    background-color: rgba(47, 88, 163, 0.9);
    overflow: hidden;
    transition: 0.5s;
    position: absolute;
    display: none;
}

.overlay-content {
    float: left;
    top: 10%;
    text-align: left;
    margin-right: 50px;
    margin-top: 15px;
    line-height: 0.7;
}
.overlay-content:first-child {
    margin-left: 1160px;
}
.overlay-content:nth-child(2) {
    margin-left: -22px;
}
.overlay-content:last-child {
    margin-left: 10px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #ffff;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: black;
}

/******************************* codrops slider ************************************/

.cbp-bislideshow {
	list-style: none;
	width: 100%;
    position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	padding: 0;
	margin: 0;
}

.cbp-bislideshow li {
	position: absolute;
	width: 100%;
	height: 900px;
	opacity: 0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	transition: opacity 1s;
    filter: brightness(70%);
}

.backgroundsize .cbp-bislideshow li {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
}

/************************** hide the images ***************************/
.backgroundsize .cbp-bislideshow li img {
	display: none;
}

.cbp-bislideshow li img {
	display: block;
	width: 100%;
}

/*************************** slider controls ************************/
.cbp-bicontrols {
	position: inherit;
	width: 300px;
	height: 100px;
    margin-top: 650px;
    margin-left: 200px;
}

.cbp-bicontrols span {
	float: left;
	width: 100px;
	height: 100px;
	position: relative;
	cursor: pointer;
}

.cbp-bicontrols span:before {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	font-family: 'entypo';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 100px;
	font-size: 40px;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	opacity: 0.7;
}

.cbp-bicontrols span:hover:before {
	opacity: 1;
}

.cbp-bicontrols span:active:before {
	top: 2px;
}

span.cbp-biplay:before {
	content: "\e002";
}

span.cbp-bipause:before {
	content: "\e003";
}

span.cbp-binext:before {
	content: "\e000";
}

span.cbp-biprev:before {
	content: "\e001";
}

.cbp-bicontrols span.cbp-binext {
	float: right;
}

/* Fallback */

.no-js.no-backgroundsize .cbp-bislideshow li:first-child {
	opacity: 1;
}

.no-js.backgroundsize .cbp-bislideshow li:first-child img {
	display: block;
}


/****************** News *******************/
#News {
    width: 100%;
}
.news {
    position: relative;
    width: 1440px;
    height: 450px;
    margin: 100px 240px 100px 240px;
}

.news .title {
    margin-bottom: 50px;
}

.news .title :first-child {
    font-size: 40px;
    font-weight: bold;
}

.news .title :last-child {
    font-size: 18px;
    color: #C8C8C8;
}

.news .cont {
    display: flex;
    gap: 80px;
}

.news .cont .line1 {
    position: absolute;
    left: 340px;
    top: 134px;
    width: 2px;
    height: 316px;
    background-color: #C8C8C8;
}

.news .cont .line2 {
    position: absolute;
    left: 720px;
    top: 134px;
    width: 2px;
    height: 316px;
    background-color: #C8C8C8;
}

.news .cont .line3 {
    position: absolute;
    left: 1100px;
    top: 134px;
    width: 2px;
    height: 316px;
    background-color: #C8C8C8;
}

.news .cont .link a {
    text-decoration: none;
    width: 300px;
}

.news .cont .link a .img-wrap {
    width: 300px;
    height: 200px;
    max-width: 300px;
    max-height: 200px;

    overflow: hidden;
    border-radius: 20px;
    border: 1px solid #707070;
}

.news .cont .link a .img-wrap img {
    width: 100%;
    height: 100%;
    transition-duration: 0.5s;
}

.news .cont .link a :nth-child(2) {
    font-size: 18px;
    font-weight: bold;
    color: #1E1E1E;
    letter-spacing: 0.9px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.news .cont .link a:hover :nth-child(1) img {
    transform: scale(1.3);
    transition-duration: 0.5s;
}

.news .cont .link a:hover :nth-child(2) {
    color: #184B9F;
}

.news .cont .link a :nth-child(3) {
    font-size: 16px;
    color: #AAAAAA;
    letter-spacing: 0.8px;
}
/********************* project ***********************/
.pject-wrap {
    background: #F9F8FF;
    width: 100%;
    height: 1147px;
    z-index: 80;
}

.pject-con-wrap {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}


.pject-con-wrap {
    padding-top: 100px;
}

.pject-text {
    text-align: right;
}

.pject-text h2 {
    font-weight: bold;
    font-size: 40px;
    color: #1E1E1E;
}

.pject-text .pject-text-eng {
    color: #C8C8C8;
    padding-bottom: 50px;
    font-weight: Medium;
    font-size: 18px;
}

.pject-text .pject-text-con {
    color: #1E1E1E;
    font-weight: bold;
    font-size: 26px;
}

.motion-pic-1 {
    margin-top: 61px;
}
.motion-pic-2 {
    display: none;
}

.pject-con-right {
    margin-top: 111px;
}

.ecoce-back-img {
    border-radius: 10px;
    width: 534px;
    height: 393px;
    background: transparent url('../img/square674.png') 0% 0% no-repeat padding-box;
    background-position: center;
}

.imghover {
    transition: all 0.2s linear;
}

.pject-moado-wrap:hover .imghover {
    transform: scale(1.2);
}

.pject-ecoce-wrap:hover .imghover {
    transform: scale(1.2);
}

.pject-ecoce-wrap {
    overflow: hidden;
    position: relative;
    width: 534px;
    height: 393px;
    margin-left: 90px;
    border-radius: 10px;
}

.pject-ecoce-wrap figcaption,
.pject-moado-wrap figcaption {
    position: absolute;
    color: #FFFFFF;
    font-size: 17px;
    z-index: 2;
    padding: 260px 0 0 21px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition-duration: 0.3s;
}

.pject-ecoce-wrap figcaption:hover,
.pject-moado-wrap figcaption:hover {
    cursor: pointer;
    opacity: 1;
    transition-duration: 0.3s;
}

.moado-back-img {
    border-radius: 10px;
    width: 450px;
    height: 355px;
    background: transparent url('../img/main-visual.png') 0% 0% no-repeat padding-box;
}

.pject-moado-wrap {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    margin-top: 50px;
    width: 534px;
    height: 393px;
    margin-left: 90px;
    background: url('../img/square\ 38.jpg') no-repeat center;
}

.pject-moado-wrap figcaption {
    padding-top: 285px;
}

/************* Resoft project ****************/
@media (min-width: 768px) and (max-width: 1279px) {
    .pject-wrap {
        width: 100%;
        height: 1911px;
        z-index: 80;
        position: relative;
    }
    .pject-con-wrap {
        margin: 0 auto;
        display: block;
    }
    
    
    .pject-con-wrap {
        padding-top: 100px;
    }
    
    .pject-text {
        text-align: center;
        margin-top: -960px;
    }
    
    .pject-text h2 {
        font-weight: bold;
        font-size: 40px;
        color: #1E1E1E;
    }
    
    .pject-text .pject-eng {
        color: #C8C8C8;
        padding-bottom: 50px;
        font-weight: Medium;
        font-size: 18px;
    }
    
    .pject-text .pject-con {
        color: #1E1E1E;
        font-weight: bold;
        font-size: 26px;
        line-height: 2;
        letter-spacing: -0.5;
    }
    .motion-pic-1 {
        display: none;
    }
    .motion-pic-2 {
        display: block;
        margin-left: 300px;
    }
    /**/
    
    .pject-ecoce-wrap {
        margin-left: 373px;
        
    }
}

/**************** secvice *****************/
.service {
    position: relative;
    max-width: 1440px;
    height: 1148px;
    margin: 0 auto;
    top: 100px;
    bottom: 100px;
    /* background-color: red; */
    display: flex;
    gap: 80px;
}

.service .title p {
    margin-left: 10px;
}


.service .left .title :nth-child(1) {
    font-size: 40px;
    font-weight: bold;
    color: #1E1E1E;
}

.service .left .title :nth-child(2) {
    font-size: 18px;
    color: #C8C8C8;
    padding-bottom: 50px;
}

.service .left .title :nth-child(3) {
    font-size: 26px;
    font-weight: bold;
    color: #1E1E1E;
    width: 535px;
    padding-bottom: 50px;
}

.aniimg {
    /* background-color: yellow; */
    width: 680px;
    height: 680px;
}

.right {
    position: relative;
}

.app {
    width: 300px;
    height: 375px;
    background: transparent url('../img/app.png') 0% 0% no-repeat padding-box;
    position: absolute;
    border-radius: 20px;
    display: table;
    table-layout: fixed;
    text-align: center;
	background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
}

.web {
    width: 300px;
    height: 375px;
    background: transparent url('../img/web.png') 0% 0% no-repeat padding-box;
    position: absolute;
    border-radius: 20px;
    top: 118px;
    left: 380px;
    display: table;
    table-layout: fixed;
    text-align: center;
		background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
}

.ai {
    width: 300px;
    height: 375px;
    background: transparent url('../img/ai.png') 0% 0% no-repeat padding-box;
    position: absolute;
    top: 455px;
    border-radius: 20px;
    display: table;
    table-layout: fixed;
    text-align: center;
		background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
}

.xr {
    width: 300px;
    height: 375px;
    background: transparent url('../img/xr.png') 0% 0% no-repeat padding-box;
    position: absolute;
    top: 573px;
    left: 380px;
    border-radius: 20px;
    display: table;
    table-layout: fixed;
    text-align: center;
		background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
}

.right .front,
.right .back {
    display: table-cell;
    vertical-align: middle;
}

.right .front :nth-child(1) {
    font-size: 30px;
    color: #FFFFFF;
    letter-spacing: 1.5px;
    /* text-align: center; */
}

.right .front :nth-child(2) {
    font-size: 20px;
    color: #FFFFFF;
    line-height: 29px;
    letter-spacing: 1px;
    /* text-align: center; */
    /* font: var(--unnamed-font-style-normal) normal medium 20px/29px var(--unnamed-font-family-noto-sans-kr);
    text-align: center;
    font: normal normal medium 20px/29px Noto Sans KR;
    letter-spacing: 1px;
    color: #FFFFFF;
    opacity: 1; */
}

.right .back {
    display: none;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 1.2px;
}


.card{
    transition: 0.3s;
}
.card:hover {
    transform: scale(1.246);
    transition: 0.3s;
}
.right .card:hover .back{
    display: table-cell;
}

.right .card:hover .front{
    display: none;
}

@keyframes fadeInTopLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-5%, -5%, 0);
        transform: translate3d(-5%, -5%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.right .front {
    animation: fadeInTopLeft 0.5s;
}

@keyframes fadeInBottomRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(5%, 5%, 0);
        transform: translate3d(5%, 5%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.right .back {
    animation: fadeInBottomRight 0.5s;
}

/*************** reference ***************/
#reference {
    width: 100%;
    height: 1034px;
}

.refer_web {
    left: 240px; 
    width: 1440px;
    height: 734px;
    opacity: 1;
}

.refer_web ul {
    margin-left: 14px;
}

.Reference_iconbox{
    border: 1px solid #DBDBDB;
    display: inline-block;
    width: 220px;
    height: 100px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-right: 14px;
    margin-top:17px;
}

.icon-image .icon{
    position: relative;
    text-align: center; 
    display: flex; 
    justify-content:center;
    top: 50%;
    left: 50%;
    bottom:-50px;
    transform: translate(-50%, -50%);
}

/***************** footer ********************/
.footer-wrap {
    position: relative;
    left: 0;
    width: 1920px;
    height: 250px;
    background: #E9E9E9 0% 0% no-repeat padding-box;
    opacity: 1;
}
.footer-wrap img {
    width:200px;
    height:45px;
    margin-top:50px;
    margin-left:240px;
}
.footer-wrap .address {
    letter-spacing: 0px;
    line-height: 26px;
    color: #9E9E9E;
    opacity: 1;
    text-align: left; 
}
.footer-wrap .address .footer-add {
    position: relative;
    height: 24px;
    left: 460px;
    bottom:20px;
    font-size: 24px;
}
.footer-wrap .address .footer-inform {
    position: relative;
    margin-left: 240px;
    padding-bottom: 49px;
    height:76px;
}
.footer-wrap .address .footer-inform-add {
    position:relative;
    left: 1000px;
    bottom: 50px;
    height: 50px;
    margin-top: -25px;
}

/* 
현재 만들어야 하는 기준 => 모바일은 그대로 적용, 테블릿은 1024px까지

@media (max-width: 767px){
	//모바일
}

@media (min-width: 768px) and (max-width: 1279px) {
    // 테블릿 가로 
}
@media (min-width: 1280px) and (max-width: 1920px) {
    // 데스크탑 일반 => 구현 마무리
}*/



/************** media query 1. Header tablet (테블릿 가로)****************/

@media (min-width: 768px) and (max-width: 1279px) {
    body {
        overflow-x: hidden;
        overflow-y: auto;
    }
    /******* header *******/
    header h1 a {    
        margin-left: 231.07px;
    }
    header nav ul li{
        margin-left: 88px;;
        margin-right: -100px;
    }
    .overlay-content:first-child {
        margin-left: 672px;
    }
    .overlay-content:nth-child(2) {
        margin-left: -32px;
    }
    .overlay-content:last-child {
        margin-left: -3px;
    }
    .hd-1 {
        margin-left: -113px;
        margin-top: 65px;
        line-height: 1.5;
    }
    .hd-1 p.main-text {
        letter-spacing: 1.1;
    }
    .hd-1 p.sub-text {
        letter-spacing: 0.24;
    }
    .cbp-bicontrols {
        margin-left: 88px;
        margin-top: 650px;
    }

    /****** Resoft News ******/
   
}
